<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectopdm">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <queries></queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/cssNom"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPDM.NoActionBar">
        <activity
            android:name=".PdfActivity"
            android:exported="false" />
        <activity
            android:name=".MenuOpciones2Activity"
            android:exported="false"
            android:label="@string/title_activity_menu_opciones2"
            android:theme="@style/Theme.ProyectoPDM.NoActionBar.NoActionBar" />
        <activity
            android:name=".ActActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_docente_Nav"
            android:exported="false" />
        <activity
            android:name=".Activity_NavHost"
            android:exported="false" />
        <activity
            android:name=".RegistrarUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuOpcionesActivity"
            android:exported="false"
            android:label="@string/title_activity_menu_opciones"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProyectoPDM.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>